<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table >
    <tbody>
        <tr>
            <td>
                <table border="1" style="border-collapse: collapse">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>age</th>
                            <th>planet</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="governor : ${governors}" id="gov">
                            <td th:text="${governor.getGovernorId()}" ></td>
                            <td th:text="${governor.getName()}"></td>
                            <td th:text="${governor.getAge()}"></td>
                            <td>
                                <div th:each="planet : ${governor.getPlanets()}">
                                    <div th:text="${planet.getName()}"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td></td>
            <td></td>
            <td>
                <table border="1" style="border-collapse: collapse">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>Governor name</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="planet : ${planets}" id="plan">
                            <td th:text="${planet.getPlanetId()}" ></td>
                            <td th:text="${planet.getName()}"></td>
                            <td th:unless="${planet.getGovernor() != null}"></td>
                            <td th:if="${planet.getGovernor() != null}" th:text="${planet.getGovernor().getName()}"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <hr>
    <br>
    <table>
        <tr>
            <td>
                <form th:action="@{/addGover}" th:object="${governor}" method="post">
                    <p>Имя Правителя:</p>
                    <p>
                        <input type="text" th:field="*{name}" id="add_gover_name_field">
                    </p>
                    <p>Возраст Правителя:</p>
                    <p>
                        <input type="number" th:field="*{age}" value="0" id="add_gover_age_field">
                    <p th:if="${error != null}" th:text="${error}"></p>
                    </p>
                    <button type="submit" value="Save" id="add_gover_button">Добавить правителя</button>
                </form>
            </td>
            <td></td>
            <td></td>
            <td>
                <form th:action="@{/addPlanet}" th:object="${planet}" method="post">
                    <p>Имя Планеты:</p>
                    <p>
                        <input type="text" th:field="*{name}" id="add_planet_name_field">
                    </p>
                    <button type="submit" value="Save" id="add_planet_button">Добавить планету</button>
                </form>
            </td>
            <td></td>
            <td></td>
            <td>
                <form th:action="@{/chooseGover}"  th:object="${governor}" method="post">

                    <p>Выберите Правителя:</p>
                    <p>
                        <select th:field="*{governorId}" id="choose_gover_select">
                            <option th:each="governor : ${governors}"
                                    th:text="${governor.getName()}"
                                    th:value="${governor.getGovernorId()}"></option>
                        </select>
                    </p>
                    <div th:object="${planet}">
                    <p>Выберите Планету:</p>
                    <p>
                        <select th:field="*{planetId}" id="choose_planet_select">
                            <option th:each="planet : ${planets}"
                                    th:text="${planet.getName()}"
                                    th:value="${planet.getPlanetId()}"></option>
                        </select>
                    </p>
                    <button type="submit" value="Save" id="choose_gover_button">Назначить Правителя</button>
                    </div>
                </form>
            </td>
            <td>
                <form th:action="@{/delPlanet}"  th:object="${planet}" method="post">


                        <p>Выберите Планету:</p>
                        <p>
                            <select th:field="*{planetId}" id="delete_planet_select">
                                <option th:each="planet : ${planets}"
                                        th:text="${planet.getName()}"
                                        th:value="${planet.getPlanetId()}"></option>
                            </select>
                        </p>
                        <button type="submit" value="Save" id="delete_planet_button">Взорвать планету</button>
                </form>
            </td>
        </tr>
    </table>
    <br>
    <hr>
    <br>
    <table>
        <tr>
            <td>
                <h3 align="center">Бездельники</h3>
                <table border="1" style="border-collapse: collapse">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>age</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="slacker : ${slackers}" id="slac">
                        <td th:text="${slacker.getGovernorId()}" ></td>
                        <td th:text="${slacker.getName()}"></td>
                        <td th:text="${slacker.getAge()}"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <h3 align="center">ТОП 10</h3>
                <table border="1" style="border-collapse: collapse">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>age</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="top : ${tops}" id="top">
                        <td th:text="${top.getGovernorId()}"></td>
                        <td th:text="${top.getName()}"></td>
                        <td th:text="${top.getAge()}"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>

</div>

</body>
</html>