<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table >
    <tbody>
        <tr>
            <td>
                <table border="1" style="border-collapse: collapse">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>age</th>
                            <th>planet</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="governor : ${governors}">
                            <td th:text="${governor.getGovernorId()}"></td>
                            <td th:text="${governor.getName()}"></td>
                            <td th:text="${governor.getAge()}"></td>
                            <td>
                                <div th:each="planet : ${governor.getPlanets()}">
                                    <div th:text="${planet.getName()}"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td></td>
            <td></td>
            <td>
                <table border="1" style="border-collapse: collapse">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>Governor name</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="planet : ${planets}">
                            <td th:text="${planet.getPlanetId()}"></td>
                            <td th:text="${planet.getName()}"></td>
                            <td th:unless="${planet.getGovernor() != null}"></td>
                            <td th:if="${planet.getGovernor() != null}" th:text="${planet.getGovernor().getName()}"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <hr>
    <br>
    <table>
        <tr>
            <td>
                <form th:action="@{/addGover}" th:object="${governor}" method="post">
                    <p>Имя Правителя:</p>
                    <p>
                        <input type="text" th:field="*{name}">
                    </p>
                    <p>Возраст Правителя:</p>
                    <p>
                        <input type="number" th:field="*{age}">
                    </p>
                    <button type="submit" value="Save">Добавить правителя</button>
                </form>
            </td>
            <td></td>
            <td></td>
            <td>
                <form th:action="@{/addPlanet}" th:object="${planet}" method="post">
                    <p>Имя Планеты:</p>
                    <p>
                        <input type="text" th:field="*{name}">
                    </p>
                    <button type="submit" value="Save">Добавить планету</button>
                </form>
            </td>
            <td></td>
            <td></td>
            <td>
                <form th:action="@{/chooseGover}"  th:object="${governor}" method="post">

                    <p>Выберите Правителя:</p>
                    <p>
                        <select th:field="*{governorId}">
                            <option th:each="governor : ${governors}"
                                    th:text="${governor.getName()}"
                                    th:value="${governor.getGovernorId()}"></option>
                        </select>
                    </p>
                    <div th:object="${planet}">
                    <p>Выберите Планету:</p>
                    <p>
                        <select th:field="*{planetId}">
                            <option th:each="planet : ${planets}"
                                    th:text="${planet.getName()}"
                                    th:value="${planet.getPlanetId()}"></option>
                        </select>
                    </p>
                    <button type="submit" value="Save">Назначить Правителя</button>
                    </div>
                </form>
            </td>
            <td>
                <form th:action="@{/delPlanet}"  th:object="${planet}" method="post">


                        <p>Выберите Планету:</p>
                        <p>
                            <select th:field="*{planetId}">
                                <option th:each="planet : ${planets}"
                                        th:text="${planet.getName()}"
                                        th:value="${planet.getPlanetId()}"></option>
                            </select>
                        </p>
                        <button type="submit" value="Save">Взорвать планету</button>
                </form>
            </td>
        </tr>
    </table>

</div>

</body>
</html>